{
  "extends": [
    "eslint:recommended"
  ],
  "env": {
    "browser": true,
    "jasmine": true
  },
  "ecmaFeatures": {
    "blockBindings": true,
    "templateStrings": true
  },
  "globals": {
    "sn": true,
    "require": true,
    "module": true,
    "__EC__": true,
    "_return": true
  },
  "rules": {
    "no-console": 1,
    "quotes": [1, "single"],
    "eol-last": 1,
    "space-before-blocks": [1, "always"],
    "indent": [1, 4, {"SwitchCase": 1}],
    "semi": [2, "always"],
    "curly": 1
  }
}
